<%- layout('layouts/main') %>
<html>
    <head>
        <title>404 error</title>
</head>
<body><img src="C:\Users\MARLON\Documents\PROGRAMACION\Programas-Random\Nueva carpeta\sadface.gif"/>

</body>
</html>





<