<%- layout('layouts/main') %>
<!DOCTYPE html>
<html lang="en">
<head>
    
	<title>Cursos</title>
	
</head>
<body>
    <style>
    body {
		  background: url(//subtlepatterns.com/patterns/scribble_light.png);
		font-family: Calluna, Arial, sans-serif;
		min-height: 1000px;
	  }
    </style>
    

    <center><div id="toast"></div>
        <div id="toast-cart"></div>
        <hr>
        

        
        
          <h1>Videos de nuestros cursos</h1>
          <br>
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Feduc4Ting%2Fvideos%2F794425087679657%2F&show_text=1&width=560" width="560" height="407" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>

          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Feduc4Ting%2Fvideos%2F2344818822474835%2F&show_text=1&width=560" width="560" height="407" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
	
        <ul>

            
        </ul>


          
<hr></center>


</body>
</html>
