<%- layout('layouts/main') %>
<!DOCTYPE html>
<html lang="en">
<head>
    
	<title>Politicas de privacidad</title>
	
</head>
<body>
    <style>
     body{
            background-color: #DFE7EF;
     }</style>
    <center>
    <h3>Política de Privacidad</h3><br>

            En http://geekfactory.mx nos tomamos muy en serio la confidencialidad de nuestros usuarios,<br>
              por esta razón, no venderemos sus datos a terceros ni los utilizaremos para fines distintos<br>
               a los descritos en este acuerdo.<p><p>

               Nuestra empresa se compromete a tomar todas las precauciones en el manejo de su información<br>
               personal por ello,  los acervos de información pertenecientes a este sitio web se encuentran<br>
               bajo resguardo; protegidos con medidas administrativas, técnicas y físicas. Solamente el personal<br>
               de nuestra tienda web puede tener acceso parcial a su información con el único objetivo de brindarle<br>
              servicio durante y después de su compra en nuestra página.<p>
                <h3>    Tome en cuenta lo siguiente al utilizar nuestros servicios.</h3>
              </p>
              Dada la naturaleza de nuestro negocio, compartiremos la información de su domicilio y datos de contacto<br>
              telefónico solamente con la empresa de paquetería designada por usted para realizar la entrega de su<br>
              mercancía. Al realizar una orden en nuestra tienda virtual, usted acepta implícitamente dicho intercambio<br>
              de información. Los detalles sobre las políticas en el manejo de datos personales por la empresa contratada<br>
              deberán consultarse en el sitio web correspondiente, ya que son completamente ajenas al funcionamiento de<br>
              nuestra empresa.<p>
              Su correo electrónico y/o datos de contacto virtuales, no serán cedidos bajo ninguna circunstancia a terceros,<br>
              ya sean empresas o individuos por lo que puede registrarse con tranquilidad. Usted NO recibirá correos ajenos<br>
              a la temática de nuestro sitio ni utilizaremos sus datos para suscribirle a boletines de correos o servicios<br>
              electrónicos provistos por terceros.
              Nuestro sitio web utiliza cookies (pequeños archivos de texto transferidos de nuestro sitio a su disco duro) para<br>
              reconocer a los usuarios habituales, recordar sus preferencias, almacenar los datos de su carrito temporal y <br>
              otros servicios de conveniencia. Las cookies no dañan su equipo ni archivos alojados en él. Tampoco permitirán<br>
              que se tenga acceso a su información de identificación personal.<p>
              Durante su estancia en nuestro sitio, podemos compartir las estadísticas de uso conjunto  del sitio <br>
              (no las de uso individual) y la información demográfica con otros terceros, con el fin de realizar monitoreos<br>
              estadísticos y tendencias de uso en nuestro sitio web. Dichos datos NO incluyen ningún tipo de información de<br>
              identificación personal.
              Los datos necesarios para validar su identidad en el sitio (correo electrónico y contraseña) proporcionados <br>
              por usted al momento de crear una cuenta en http://geekfactory.mx deberán ser tratados como información privilegiada,<br>
              por lo que es responsabilidad del usuario cuidar y conservar la confidencialidad de sus datos de acceso. Geekfactory  <br>
              no asume la responsabilidad por la divulgación y posterior mal uso de sus datos de acceso.<p>
              Como usuario, usted podrá cambiar, modificar, eliminar y enmendar los datos de contacto que proporcionó durante <br>
              su registro si así lo considera necesario.<p>
              Cualquier diseño que recibamos por parte de ustedes, para uso de nuestro servicio de corte láser o impresión 3D <br>
              será única y exclusivamente manipulado por nuestro software para la creación del producto solicitado y así mantener la confidencialidad en sus diseños.
	
            </center>
</body>
</html>