<!DOCTYPE html>
<html lang="en">
<head >
  <!--iconos-->
  <script src="https://kit.fontawesome.com/557981b83d.js" crossorigin="anonymous"></script>
  <!--Animacion-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
 <!-- BOOTSTRAP 4 --> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--Icono-->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <meta charset="UTF-8">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class='container'><a class="navbar-brand" href="/">Inicio &nbsp;<i class="fas fa-home"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"></li>
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/Productos">Productos</a>
          </li>

          <!--
  
          <% if (!user) { %>
          <li class="nav-item ">
            <a class="nav-link" href="/signin">Signin</a>
          </li>
          <% } else { %>
          <a href="/logout">Logout</a>
          <a href="/profile">Profle</a>
          <% } %>
  
          <% if (!user) { %>
          <li class="nav-item ">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <% } else { %>
          <a href="/logout">Logout</a>
          <a href="/profile">Profle</a>
          <% } %>-->  
  
          <li class="nav-item ">
            <a class="nav-link" href="/mi-cuenta">Mi cuenta</a>
          </li>

         
  
        </ul>
      </div>
  </nav>
  </div>
</head>
<body>
  <!-- NAVIGATION -->
 <script>/* <% if (!user) { %>
  <a href="/signin">Signin</a>
  <a href="/signup">Signup</a>
  <% } else { %>
  <a href="/logout">Logout</a>
  <a href="/profile">Profle</a>
  <% } %>*/</script>

  <%if (signinMessage) {%>
    <p><%= signinMessage %></p>
  <% } %>
  <%if (signupMessage) {%>
    <p><%= signupMessage %></p>
  <% } %>

  <%- body %>

  <!--SECCION!-->
  <div class="container-fluid" id="About">
    <div class="row bg-dark text-white p-5 text-center">
      <div class="col-sm-3">
        <img src="https://pbs.twimg.com/profile_images/887153955792240640/sreiVfil_400x400.jpg" width="200" height="200"
          class="animated zoomIn " />
        <!--<i class="fab fa-youtue fa-10x"> </i>-->
      </div>
      <style>
        
      a{
		color: #888888;
	  }
    </style>

<style>
    h8{
  color: #888888;
  }

  .fa-instagram {
    color: rgb(255,255, 255);
  }
  </style>
      
      <div class="col-sm-3">
        <h3><u>Informacion</u></h3>
        <p><a href="#" >Sobre nosotros</a></p>
        <p><a href="#" >Quienes somos?</a></p>
        <p><a href="/politicas-de-privacidad" >Politicas de Privacidad</a></p>
        
       </div>
      
      <div class="col-sm-3">
          <h3><u>Servicio al cliente</u></h3>
          <p><a href="#" >Garantia</a></p>
          <p><a href="#" >Pagos</a></p>
          <p><a href="#" >Facturacion</a></p>

          
          <p><h5><a href="https://www.facebook.com/Educ4Ting-109294607096330/?epa=SEARCH_BOX"> Facebook
            <i class="fab fa-facebook"></i></a></p></h8>
            </div> 

      

       <div class="col-sm-3">
          <h3><u>Contactanos </u></h3>
          <p><a href="/contacto">Mandanos tu opinion</h3></p></a>
          <p><h8>ventas@PowerGie.mx</h3></p>
          <p><h8>Telefono: 5555555555</h3></p>
          
          <p><h5><a href="https://www.instagram.com/powergiemx/"> instagram
           <i class="fab fa-instagram"></i></a></p></h5>
           </div> </div></div>
      
</body>
</html>
